@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-hero {
  height: calc(100vh - 3rem);
}

body {
  background-color: #090000;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}

.ing-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;
}

.icon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.icon-exit {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  stroke: #fff;
  fill: red;
}
.icon:hover {
  transform: scale(1.1);
}
